html,
body {
  font-family: "Inter";
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2.5rem;
  background-color: #1B1B1E;
}
